@{
    Layout = "~/Views/_Layout.cshtml";
	PageData["OverviewUrl"] = "/sends/overview";
	PageData["SpeedUrl"] = "/sends/speed";
	PageData["VmtaUrl"] = "/sends/virtualmta";
	PageData["BounceUrl"] = "/sends/bounces";
	PageData["DeferredUrl"] = "/sends/deferred";
	PageData["FailedUrl"] = "/sends/failed";
}

<ul class="breadcrumb">
	<li>
		<strong>
			Send: @Model.SendID<br/>
			Meta: @Model.GetSendReportPageTitle()
		</strong>
	</li>
	<div class="pull-right">
		<a href="/Sends/GetMessageResultCsv?sendID=@Model.SendID" target="_blank" class="btn btn-mini btn-primary">Export Data</a>
	</div>
</ul>

<div class="row-fluid">
	<ul class="nav nav-tabs" id="myTab">
		<li @(Request.Path.Equals(PageData["OverviewUrl"], StringComparison.OrdinalIgnoreCase) ? "class=active" : string.Empty)><a href="@PageData["OverviewUrl"]?sendID=@Model.SendID">Overview</a></li>
		<li @(Request.Path.Equals(PageData["SpeedUrl"], StringComparison.OrdinalIgnoreCase) ? "class=active" : string.Empty)><a href="@PageData["SpeedUrl"]?sendID=@Model.SendID">Send Speed</a></li>
		<li @(Request.Path.Equals(PageData["VmtaUrl"], StringComparison.OrdinalIgnoreCase) ? "class=active" : string.Empty)><a href="@PageData["VmtaUrl"]?sendID=@Model.SendID">Virtual MTAs</a></li>
		<li @(Request.Path.Equals(PageData["DeferredUrl"], StringComparison.OrdinalIgnoreCase) ? "class=active" : string.Empty)><a href="@PageData["DeferredUrl"]?sendID=@Model.SendID">Deferred</a></li>
		<li @(Request.Path.Equals(PageData["FailedUrl"], StringComparison.OrdinalIgnoreCase) ? "class=active" : string.Empty)><a href="@PageData["FailedUrl"]?sendID=@Model.SendID">Failed</a></li>
		
	</ul>
</div>

@RenderBody()

<div class="row-fluid">
	<div id="report-footer">
		<hr>
		Report generated at @DateTime.UtcNow.ToString("hh:mm on dd MMMM yyyy")
	</div>
</div>