@{
    ViewBag.Title = "Active";
    Layout = "~/Views/_Layout.cshtml";
}
<script type="text/javascript">
	$('.nav a[href="/sends/active"]').parent().addClass('active')
</script>
@if(Model.Tables[0].Rows.Count > 0){
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Send</th>
			<th>Status</th>
			<th>Started</th>
			<th>Messages</th>
			<th>Waiting</th>
			<th>Failed</th>
			<th>Delivered</th>
			<th>Deferred</th>
			<th>Throttled</th>
			<td></td>
		</tr>
	</thead>
	<tbody>
@foreach(System.Data.DataRow row in Model.Tables[0].Rows)
{
	<tr>
		<td><a href="/sends/report?sendid=@row[0]">@row[0]</a></td>
		<td>@switch((MantaMTA.Core.Enums.SendStatus)row[2]){
		case MantaMTA.Core.Enums.SendStatus.Active:
			  @:<span class='label label-success'>Active</span>
			  break;
		case MantaMTA.Core.Enums.SendStatus.Discard:
			@:<span class='label label-important'>Discarding</span>
			break;
		case MantaMTA.Core.Enums.SendStatus.Paused:
			@:<span class='label label-warning'>Paused</span>
			break;
		default:
			@:unknown
		break;
		}
		</td>
		<td>@row[3]</td>
		<td>@(((int)row[4]).ToString("N0"))</td>
		<td class="text-warning">@(((int)row[5]).ToString("N0"))</td>
		<td class='text-error'>@(((int)row[7] + (int)row[8]).ToString("N0"))</td>
		<td class='text-success'>@(((int)row[10]).ToString("N0"))</td>
		<td class='text-info'>@(((100d/(int)row[11])*(int)row[6]).ToString("N1"))%</td>
		<td class='muted'>@(((100d/(int)row[11])*(int)row[9]).ToString("N1"))%</td>
		<td>
			@if ((MantaMTA.Core.Enums.SendStatus)row[2] != MantaMTA.Core.Enums.SendStatus.Paused)
   {
				<a href="/sends/pause?sendIID=@row[1]" class="btn btn-warning">Pause</a>
   }
			@if ((MantaMTA.Core.Enums.SendStatus)row[2] != MantaMTA.Core.Enums.SendStatus.Discard)
   {
				<a href="/sends/discard?sendIID=@row[1]" class="btn btn-danger">Discard</a>
   }
			@if ((MantaMTA.Core.Enums.SendStatus)row[2] != MantaMTA.Core.Enums.SendStatus.Active)
   {
				<a href="/sends/resume?sendIID=@row[1]" class="btn btn-success">Resume</a>
   }
		</td>
	</tr>
			
}
	</tbody>
</table>
}
else
{
	<h2>No sends in progress.</h2>
	<a href="/sends/">View Completed Sends</a>
}