@{
	ViewBag.Title = Model.SendID + " > Deferrals";
    Layout = "~/Views/Sends/_ReportLayout.cshtml";
}


<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>VirtualMTA</th>
			<th>Remote</th>
			<th>Response</th>
			<th>Count</th>
			<th>Last Occurred</th>
		</tr>
	</thead>
	<tbody>
		@foreach (WebInterfaceLib.BO.BounceInfo bounce in ((WebInterfaceLib.BO.BounceInfo[])Model.BounceInfo).OrderByDescending(b=>b.LastOccurred).ThenByDescending(b=>b.Count))
		{
			<tr>
				<td>@bounce.LocalHostname<br /><small>@bounce.LocalIpAddress</small></td>
				<td>@bounce.RemoteHostname</td>
				<td>@bounce.Message</td>
				<td>@bounce.Count.ToString("N0")</td>
				<td>@bounce.LastOccurred</td>
			</tr>
		}
	</tbody>
</table>

<div class="pagination">
	<script type="text/javascript">
		$(document).ready(function () {
			$('#ddlPages').change(function () {
				window.location = '/sends/deferred?sendID=@Model.SendID&page=' + $(this).val();
			});
		});
	</script>
	<select id="ddlPages">
		@for (int i = 1; i <= Model.PageCount; i++)
  {
			<option selected="@(Model.CurrentPage == i)" value="@i">@i</option>
		 }
	</select>
</div>
