@{
	ViewBag.Title = Model.SendID + " > Failed";
    Layout = "~/Views/Sends/_ReportLayout.cshtml";
}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>VirtualMTA</th>
			<th>Status</th>
			<th>Remote</th>
			<th>Response</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody>
		@foreach(WebInterfaceLib.BO.BounceInfo bounce in Model.BounceInfo)
		{
			<tr>
				<td>@bounce.LocalHostname<br /><small>@bounce.LocalIpAddress</small></td>
				@switch (bounce.TransactionStatus)
				{
					case MantaMTA.Core.Enums.TransactionStatus.Discarded:
						<td class="stat-red">Discarded</td>
						break;
					case MantaMTA.Core.Enums.TransactionStatus.Failed:
						<td class="stat-red">Rejected</td>
						break;
					case MantaMTA.Core.Enums.TransactionStatus.TimedOut:
						<td class="stat-red">Timed Out In Queue</td>
						break;
				}
				<td>@bounce.RemoteHostname</td>
				<td>@bounce.Message</td>
				<td>@bounce.Count.ToString("N0")</td>
			</tr>
		}
	</tbody>
</table>

<div class="pagination">
	<script type="text/javascript">
		$(document).ready(function () {
			$('#ddlPages').change(function () {
				window.location = '/sends/failed?sendID=@Model.SendID&page=' + $(this).val();
			});
		});
	</script>
	<select id="ddlPages">
		@for (int i = 1; i <= Model.PageCount; i++)
		 {
			<option selected="@(Model.CurrentPage == i)" value="@i">@i</option>
		 }
	</select>
</div>