@{
    ViewBag.Title = "Send Report";
    Layout = "~/Views/_Layout.cshtml";
}

<script type="text/javascript">
	$('.nav a[href="/sends"]').parent().addClass('active')
</script>

<h2>@Request.QueryString[0] Send Report <small><a href="/sends">Back to Sends</a></small></h2>
<script type="text/javascript">
	$(document).ready(function () {
		var barChartData = {
			labels: [@foreach (System.Data.DataRow row in Model[1].Tables[0].Rows)
			{
				@:"@row[0]",
			}],
			datasets: [
				{
					fillColor: "rgba(0,255,0,0.2)",
					strokeColor: "green",
					data: [@foreach (System.Data.DataRow row in Model[1].Tables[0].Rows)
			{
				@:@(row[2].ToString().Equals("4") ? row[1]:0),
			}]
				},
				{
					//fillColor: "rgba(151,187,205,0.5)",
					fillColor: "rgba(255,0,0,0.2)",
					strokeColor: "red",
					data: [@foreach (System.Data.DataRow row in Model[1].Tables[0].Rows)
			{
				@:@(row[2].ToString().Equals("2") ? row[1]:0),
								}]
				},
				{
					//fillColor: "rgba(151,187,205,0.5)",
					fillColor: "rgba(0,0,255,0.2)",
					strokeColor: "blue",
					data: [@foreach (System.Data.DataRow row in Model[1].Tables[0].Rows)
			{
				@:@(row[2].ToString().Equals("1") ? row[1]:0),
								}]
				}
			]


		}

		var myLine = null;
		if(@Model[1].Tables[0].Rows.Count < 2)
			myLine = new Chart(document.getElementById('chart').getContext('2d')).Bar(barChartData);
		else
			myLine = new Chart(document.getElementById('chart').getContext('2d')).Line(barChartData);
	});
</script>
<canvas id="chart" height="450" width="960"></canvas>
<div class="row-fluid">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Recipient</th>
				<th>Time</th>
				<th>Status</th>
				<th>Response</th>
				<th>VirtualMTA</th>
			</tr>
		</thead>
		@foreach (System.Data.DataRow row in Model[0].Tables[0].Rows)
		 {
			<tr>
				<td>@row[0]</td>
				<td>@row[3]</td>
				<td>@switch ((int)row[4])
				{
					case 1:
						@:<span class='text-info'>Deferred</span>
						break;
					case 2:
						@:<span class='text-error'>Failed</span>
						break;
					case 3:
						@:<span class='text-error'>Timed Out</span>
						break;
					case 4:
						@:<span class='text-success'>Sent</span>
						break;
					case 5:
						@:<span class='text-muted'>Throttled</span>
						break;
					case 6:
						@:<span class='text-error'>Discarded</span>
						break;
					default:
						@:unknown
						break;
				}
				</td>
				<td>
					<blockquote style="margin:0px;">
						@row[5]
						<small>@(string.IsNullOrEmpty(row[6].ToString()) ? "localhost" : row[6])</small>
					</blockquote>
				</td>
				<td><strong>@row[8]</strong><br /><small class="muted">@row[7]</small></td>
			</tr>
		 }
	</table>
</div>

