@{
	ViewBag.Title = Model.SendID + " > Waiting";
    Layout = "~/Views/Sends/_ReportLayout.cshtml";
}

<style type="text/css">
	table.table {
		/*width: initial;*/
	}

	table.table tbody tr td {
		text-align: right;
	}
</style>

@if (((WebInterfaceLib.BO.SendWaitingInfoCollection)Model.SendWaitingInfo).Count < 1)
{
	<h1>No Emails Waiting</h1>
}else{
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Next Attempt</th>
				@foreach (WebInterfaceLib.BO.SendWaitingInfo sendWaitingInfo in Model.SendWaitingInfo)
				  {
					<td>@sendWaitingInfo.AttemptNumber.ToString("N0")</td>
				  }
				
			</tr>	
			<tr>
				<th>Emails Waiting</th>	
				@foreach (WebInterfaceLib.BO.SendWaitingInfo sendWaitingInfo in Model.SendWaitingInfo)
				  {
					<td>@sendWaitingInfo.EmailsWaiting.ToString("N0")</td>
				  }
			</tr>
		</tbody>
	</table>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Domain</th>
				<th>Waiting</th>
				<th>Next Attempt</th>
			</tr>
		</thead>
		<tbody>
			@foreach (WebInterfaceLib.BO.SendWaitingByDomainItem sendWaitingByDomain in Model.SendWaitingByDomain)
				{
					<tr>
						<td>@sendWaitingByDomain.Domain</td>
						<td>@sendWaitingByDomain.Waiting.ToString("N0")</td>
						<td>@sendWaitingByDomain.NextAttempt</td>
					</tr>
				}
		</tbody>
	</table>
}
