@{
    ViewBag.Title = "Server Status";
	Layout = "~/Views/_Layout.cshtml";
}

<div class="page-header">
	<h1>Server Status</h1>
</div>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Directory</th>
			<th>Files</th>
			<th>Used Space</th>
			<th>Available Space</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Drop</th>
			<td>@Model.DropDir.Path</td>
			<td>@Model.DropDir.FileCount.ToString("N0")</td>
			<td>@Model.DropDir.UsedSpace</td>
			<td>@Model.DropDir.FreeSpace</td>
		</tr>
		<tr>
			<th>Logs</th>
			<td>@Model.LogDir.Path</td>
			<td>@Model.LogDir.FileCount.ToString("N0")</td>
			<td>@Model.LogDir.UsedSpace</td>
			<td>@Model.LogDir.FreeSpace</td>
		</tr>
		<tr>
			<th>Queue</th>
			<td>@Model.QueueDir.Path</td>
			<td>@Model.QueueDir.FileCount.ToString("N0")</td>
			<td>@Model.QueueDir.UsedSpace</td>
			<td>@Model.QueueDir.FreeSpace</td>
		</tr>
	</tbody>
</table>

<h4>Manta Reset Scheduled Task Log Tail.</h4>
<textarea style="width:100%" rows="21">
    @Model.MantaResetLog
</textarea>