@{
    ViewBag.Title = "Virtual MTA";
    Layout = "~/Views/_Layout.cshtml";
}

<script type="text/javascript">
	function Delete(id) {
		if (confirm("Delete the Virtual MTA?")) {
			PostToWebService("/services/VirtualMtaService.asmx/Delete", "{ 'id':'" + id + "'}",
				function (data) {
					window.location = '/VirtualMTA';
				},
				function (jqXHR, textStatus, errorThrown) {
					alert(JSON.parse(jqXHR.responseText).Message);
				}
			);
		}
	}

	function DeleteGroup(id) {
		if (confirm("Delete the Virtual MTA Group?")) {
			PostToWebService("/services/VirtualMtaService.asmx/DeleteGroup", "{ 'id':'" + id + "'}",
				function (data) {
					window.location = '/VirtualMTA';
				},
				function (jqXHR, textStatus, errorThrown) {
					alert(JSON.parse(jqXHR.responseText).Message);
				}
			);
		}
	}
</script>

<h2>Virtual MTAs&nbsp;<a href="/VirtualMTA/Edit" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i></a></h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Hostname</th>
			<th>IP Address</th>
			<th>rDNS Match</th>
			<th>Accepts Inbound</th>
			<th>Send Outbound</th>
			<th class="text-success">Accepted</th>
			<th class="text-error">Rejected</th>
			<th>Throttled</th>
			<th class="text-info">Deferred</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (WebInterface.Models.VirtualMTASummary vmta in Model.VirtualMTASummaryCollection)
		{
			<tr>
				<td>@vmta.IpAddress.Hostname</td>
				<td>@vmta.IpAddress.IPAddress</td>
				<td>@vmta.IsReverseDnsMatch</td>
				<td>@vmta.IpAddress.IsSmtpInbound</td>
				<td>@vmta.IpAddress.IsSmtpOutbound</td>
				<td class="text-success">@vmta.Accepted.ToString("N0")</td>
				<td class="text-error">@vmta.Failed.ToString("N0")</td>
				<td>@vmta.ThrottledPercent.ToString("N2")%</td>
				<td class="text-info">@vmta.DeferredPercent.ToString("N2")%</td>
				<td>
					<div class="btn-group pull-right">
						<a href="/VirtualMTA/Edit?ID=@vmta.IpAddress.ID" class="btn btn-primary btn-mini">Edit</a>
						<a href="javascript:Delete(@vmta.IpAddress.ID);" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<h2>Virtual MTA Groups&nbsp;<a href="/VirtualMTA/EditGroup" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i></a></h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Virtual MTAs</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (MantaMTA.Core.VirtualMta.VirtualMtaGroup vMtaGroup in Model.IpGroups)
		{
			<tr>
				<td>@vMtaGroup.Name</td>
				<td>@vMtaGroup.Description</td>
				<td>@(Html.Raw(string.Join("<br/>", (from vmta in vMtaGroup.VirtualMtaCollection select vmta.Hostname).ToArray())))</td>
				<td>
					<div class="btn-group pull-right">
						<a href="/VirtualMTA/EditGroup?id=@vMtaGroup.ID" class="btn btn-primary btn-mini">Edit</a>
						<a href="javascript:DeleteGroup(@vMtaGroup.ID);" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>


