@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>@Model.Pattern.Name <small>@Model.Pattern.Description</small></h2>
<p><span class="label">@Model.Pattern.Type</span> <strong>@Model.Pattern.Value</strong></p>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Rule</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		@foreach (MantaMTA.Core.OutboundRules.OutboundRule rule in Model.OutboundRules)
		{
			<tr>
				<td>@switch (rule.Type)
					{
						case MantaMTA.Core.OutboundRules.OutboundRuleType.MaxConnections:
							@:Maximum Connections
							break;
						case MantaMTA.Core.OutboundRules.OutboundRuleType.MaxMessagesConnection:
							@:Maximum Messages / Connection
							break;
						case MantaMTA.Core.OutboundRules.OutboundRuleType.MaxMessagesPerHour:
							@:Maximum Messages / Hour
							break;
					}
				</td>
				<td>@Convert.ToInt32(rule.Value).ToString("N0")</td>
			</tr>
		} 
	</tbody>
</table>
