@{
    ViewBag.Title = "Outbound Rules";
    Layout = "~/Views/_Layout.cshtml";
}

<script type="text/javascript">
	function ConfirmDelete(patternID) {
		if (patternID == @MantaMTA.Core.MtaParameters.OUTBOUND_RULES_DEFAULT_PATTERN_ID) {
			alert("Cannot delete DEFAULT");
			return;
		}

		if (confirm("Are you sure you want to delete this Outound Rule?"))
			window.location = "/outboundrules/delete?patternID=" + patternID;
	}
</script>

<h2>Outbound Rules
	<a href="/OutboundRules/Edit?patternID=@WebInterfaceLib.WebInterfaceParameters.OUTBOUND_RULES_NEW_PATTERN_ID" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i></a>
</h2>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Pattern</th>
			<th>Virtual MTA</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (MantaMTA.Core.OutboundRules.OutboundMxPattern outboundRule in Model)
		{
			<tr>
				<td>@outboundRule.Name</td>
				<td>@outboundRule.Description</td>
				<td><span class="label">@switch (outboundRule.Type)
										{
											case MantaMTA.Core.OutboundRules.OutboundMxPatternType.CommaDelimited:
												@:List
												break;
											case MantaMTA.Core.OutboundRules.OutboundMxPatternType.Regex:
												@:Regex
												break;
										}
				    </span>&nbsp;@outboundRule.Value</td>
				<td>@if (!outboundRule.LimitedToOutboundIpAddressID.HasValue)
					{
						@:All
					}
					else
					{
						@MantaMTA.Core.DAL.VirtualMtaDB.GetVirtualMta(outboundRule.LimitedToOutboundIpAddressID.Value).Hostname
					}
				</td>
				<td>
					<div class="btn-group pull-right">
						<a href="/OutboundRules/Edit?id=@outboundRule.ID" class="btn btn-mini btn-primary">Edit</a>
						<a href="javascript:ConfirmDelete(@outboundRule.ID);" class="btn btn-danger btn-mini @(outboundRule.ID == MantaMTA.Core.MtaParameters.OUTBOUND_RULES_DEFAULT_PATTERN_ID ? "disabled" : string.Empty)"><i class="icon-trash icon-white"></i></a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>